* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  font-family: "serif";
  font-weight: 400;
}

input:focus,
textarea:focus
select:focus {
  outline: none;
}
img {
  max-width: 100%;
}
