*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $black-m;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "serif";
  font-weight: 400;
}

input:focus,
textarea:focus select:focus {
  outline: none;
}

ul {
  list-style: none;
}