// TEXT
.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}