* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html,
body {
  font-family: "serif";
  font-weight: 400; }

input:focus,
textarea:focus
select:focus {
  outline: none; }

img {
  max-width: 100%; }

[class^="container"] {
  width: 100%;
  max-width: 1366px;
  margin: 0px auto;
  padding: 0px 15px; }
  [class^="container"][class*="--fluid"] {
    max-width: 100%; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.align-items-end {
  align-items: flex-end; }

.flex-1 {
  flex: 1; }

.flex-wrap {
  flex-wrap: wrap; }

.formatting {
  white-space: pre-wrap; }
  @media only screen and (max-width: 767px) {
    .formatting {
      font-size: 14px; } }
  .formatting h1 {
    font-size: 45px;
    margin: 40px 0px 20px; }
    @media only screen and (max-width: 767px) {
      .formatting h1 {
        font-size: 35px;
        margin: 35px 0px 15px; } }
  .formatting h2 {
    font-size: 35px;
    margin: 35px 0px 15px; }
    @media only screen and (max-width: 767px) {
      .formatting h2 {
        font-size: 28px;
        margin: 30px 0px 13px; } }
  .formatting h3 {
    font-size: 28px;
    margin: 30px 0px 13px; }
    @media only screen and (max-width: 767px) {
      .formatting h3 {
        font-size: 24px;
        margin: 25px 0px 10px; } }
  .formatting h4 {
    font-size: 24px;
    margin: 25px 0px 10px; }
    @media only screen and (max-width: 767px) {
      .formatting h4 {
        font-size: 20px;
        margin: 20px 0px 10px; } }
  .formatting h5 {
    font-size: 20px;
    margin: 20px 0px 10px; }
    @media only screen and (max-width: 767px) {
      .formatting h5 {
        font-size: 17px;
        margin: 15px 0px 8px; } }
  .formatting h6 {
    font-size: 17px;
    margin: 15px 0px 8px; }
    @media only screen and (max-width: 767px) {
      .formatting h6 {
        font-size: 15px;
        margin: 12px 0px 6px; } }
  .formatting b,
  .formatting strong {
    font-weight: 700; }
  .formatting img.aligncenter {
    display: block;
    margin: 30px auto 50px;
    max-width: 100%;
    width: unset;
    max-width: unset;
    height: auto;
    object-fit: cover;
    object-position: center; }
  .formatting img.alignleft {
    float: left;
    margin: 30px 30px 30px 0px; }
  .formatting img.alignright {
    float: right;
    margin: 30px 0px 30px 30px; }
  .formatting blockquote {
    padding: 5px 5px 5px 30px;
    margin: 10px 0px;
    position: relative; }
    .formatting blockquote::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: unset;
      left: unset;
      width: 3px;
      height: 100%; }
